<<<<<<< HEAD
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
=======
@import "tailwindcss";

/* Estilos globais para reset e aplicação de fontes */
@layer base {
  body {
    overflow-x: hidden;
    font-family: sans-serif;
    /* background-color: rgb(249 250 251); */
    /* color: rgb(31 41 55); */
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
  }
  
  /* Estilo para links que não são botões */
  a {
    color: #6366F1;
    transition: color 0.2s;
  }
  
  a:hover {
    color: #3B82F6;
  }
}

/* Estilos de componentes customizados, se necessário */
@layer components {
  .btn-primary {
    background-color: #6366F1;
    color: white;
    font-weight: 600;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    transition: background-color 0.2s;
  }
  
  .btn-primary:hover {
    background-color: #3B82F6;
  }
  
  .btn-secondary {
    background-color: white;
    color: #6366F1;
    border: 1px solid #6366F1;
    font-weight: 600;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    transition: background-color 0.2s;
  }
  
  .btn-secondary:hover {
    background-color: rgb(243 244 246);
  }
}
>>>>>>> release/1.2.0
